---
import { Image } from "astro:assets";
import keyboardImg from "@/assets/images/keyboard.png";
import type { SvgComponent } from "astro/types";

type SocialMediaLink = {
  label: string;
  href: string;
  icon: SvgComponent;
  classes: string;
};

interface Props {
  socialsLinks: SocialMediaLink[];
}

const { socialsLinks } = Astro.props;
---

<section
  class="mx-auto max-w-500 grid-cols-2 items-end px-6 py-6 min-[1022px]:px-10 md:grid xl:px-20"
>
  <Image
    src={keyboardImg}
    alt="Computer keyboard"
    class="hidden max-w-full scale-x-[-1] md:block"
    loading="eager"
  />
  <div class="flex flex-1 flex-col items-end gap-8">
    <h2
      class="text-right text-7xl leading-[0.85] font-light opacity-85 sm:mb-8 sm:text-[10rem] sm:font-extralight lg:translate-x-5 lg:text-[15rem]"
    >
      Web<br />Engineer
    </h2>
    <div
      class="flex flex-col gap-4 text-right opacity-80 sm:text-xl lg:text-[1.5rem]"
    >
      <p>Hi, I'm Henry.</p>
      <p>I help companies build memorable experiences on the web.</p>
    </div>
    <a
      role="button"
      href="#contact"
      class="btn rounded-4xl transition-transform btn-lg btn-primary hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none md:btn-xl"
      >Let's connect</a
    >
    <ul class="flex items-center gap-4">
      {
        socialsLinks.map((link) => (
          <li>
            <a
              href={link.href}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={`Let's connect on ${link.label}`}
            >
              <Image
                src={link.icon}
                alt={link.label}
                loading="eager"
                class:list={[
                  "h-6 w-6 rounded-4xl transition-transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none",
                  link.classes,
                ]}
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>
