---
import { Image } from "astro:assets";
import keyboardImg from "@/assets/images/keyboard.png";
import githubIcon from "@/assets/icons/github.svg";
import linkedinIcon from "@/assets/icons/linkedin.svg";

const SOCIALS = [
  {
    label: "LinkedIn",
    href: "https://linkedin.com/in/henrylin03",
    icon: linkedinIcon,
  },
  { label: "GitHub", href: "https://github.com/henrylin03/", icon: githubIcon },
];
---

<section
  class="mx-auto grid max-w-480 grid-cols-[4fr_1fr] items-end gap-6 px-10 py-6"
>
  <Image
    src={keyboardImg}
    alt="Computer keyboard"
    class="scale-x-[-1]"
    loading="eager"
  />
  <div class="flex max-w-5xl flex-col items-end gap-8">
    <h2
      class="mb-8 text-right text-[15rem] leading-[0.85] font-extralight opacity-85"
    >
      Web Engineer
    </h2>
    <div class="flex flex-col text-right text-[1.5rem] opacity-80">
      <p>Hi, I'm Henry.</p>
      <p>I help companies build memorable experiences on the web.</p>
    </div>
    <a
      role="button"
      href="#contact"
      class="btn rounded-4xl transition-transform btn-xl btn-primary hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
      >Get in touch</a
    >
    <ul class="flex items-center gap-4">
      {
        SOCIALS.map((link) => (
          <li>
            <a
              href={link.href}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={`Let's connect on ${link.label}`}
            >
              <Image
                src={link.icon}
                alt={link.label}
                loading="eager"
                class="h-6 w-6 rounded-4xl opacity-85 transition-transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none"
              />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</section>
