---
import type { ProjectPreview } from "@/data/projects";
import { Image } from "astro:assets";

interface Props {
  projects: ProjectPreview[];
}

const { projects } = Astro.props;
---

<section class="max-w-600 px-48" id="projects">
  <h2 class="mb-8 text-right text-8xl font-light">Projects</h2>
  <ul class="grid grid-cols-2 gap-8">
    {
      projects.map((p, idx) => (
        <li
          class:list={[
            "flex flex-col items-start gap-4",
            idx % 2 && "lg:translate-y-88",
          ]}
        >
          <div class="mockup-browser w-full border border-base-300">
            <div class="mockup-browser-toolbar">
              <div class="input">{p.buttonForLiveSite.href}</div>
            </div>
            <div class="preview-container grid cursor-pointer place-content-center border-t border-base-300">
              <Image src={p.preview.img} alt="Preview" />
              <video autoplay muted loop playsinline class="hidden">
                <source src={p.preview.video} type="video/mp4" />
              </video>
            </div>
          </div>
          <h3 class="mt-4 mb-2 text-5xl font-light">{p.title}</h3>
          <div class="grid grid-cols-2 gap-2">
            <a
              role="button"
              class="btn rounded-4xl btn-lg btn-primary"
              href={p.buttonForLiveSite.href}
              target="_blank"
            >
              {p.buttonForLiveSite.copy}
            </a>
            {p.buttonForCodebase && (
              <a
                role="button"
                class="btn rounded-4xl btn-outline btn-lg btn-primary"
                href={p.buttonForCodebase.href}
                target="_blank"
              >
                {p.buttonForCodebase.copy}
              </a>
            )}
          </div>
        </li>
      ))
    }
  </ul>
</section>

<script>
  const previewContainers = document.querySelectorAll(".preview-container");

  previewContainers.forEach((container) => {
    const previewImg = container.querySelector("img");
    const video = container.querySelector("video");

    container.addEventListener("mouseover", () => {
      previewImg?.classList.add("hidden");
      if (!video) return;
      video.classList.remove("hidden");
      video.currentTime = 0;
      video.play();
    });

    container.addEventListener("mouseleave", () => {
      previewImg?.classList.remove("hidden");
      video?.classList.add("hidden");
      video?.pause();
    });
  });
</script>
