---
import type { SeoMetadata } from "@/data/seoMetadata";

interface Props {
  seoMetadata: SeoMetadata;
}

const { seoMetadata } = Astro.props;

const { title, description, keywords, canonicalUrl, ogImagePath } = seoMetadata;

const keywordsString = keywords.join(",");
---

<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywordsString} />
<link rel="canonical" href={canonicalUrl} />

<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:image" content={ogImagePath} />
<meta property="og:description" content={description} />

<meta name="twitter:card" content="summary" />
<meta name="twitter:url" content={canonicalUrl} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={ogImagePath} />

<link
  rel="icon"
  type="image/png"
  href="/favicon.ico/favicon-96x96.png"
  sizes="96x96"
/>
<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
<link rel="shortcut icon" href="/favicon/favicon.ico" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/favicon/apple-touch-icon.png"
/>
<meta name="apple-mobile-web-app-title" content="Henry Lin | Web engineer" />
<link rel="manifest" href="/favicon/site.webmanifest" />
