---
import type { SeoMetadata } from "@/data/seoMetadata";

interface Props {
  seoMetadata: SeoMetadata;
}

const { seoMetadata } = Astro.props;

const { title, description, keywords, canonicalUrl, ogImagePath } = seoMetadata;

const keywordsString = keywords.join(",");
---

<title>{title}</title>
<meta name="description" content={description} />
<meta name="keywords" content={keywordsString} />
<link rel="canonical" href={canonicalUrl} />

<meta property="og:title" content={title} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:image" content={ogImagePath} />
<meta property="og:description" content={description} />
