---
import type { SocialMediaLink } from "@/data/contactDetails";
import { Image } from "astro:assets";

interface Props {
  socialMediaLinks: SocialMediaLink[];
  size?: "sm" | "lg";
  iconsLoading?: "eager" | "lazy";
}

const { socialMediaLinks, size = "sm", iconsLoading = "lazy" } = Astro.props;

const sizeClasses = size === "sm" ? "h-6 w-6" : "h-8 w-8";
---

<ul class="flex items-center gap-4">
  {
    socialMediaLinks.map((link) => (
      <li>
        <a
          href={link.href}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={`Let's connect on ${link.label}`}
        >
          <Image
            src={link.icon}
            alt={link.label}
            loading={iconsLoading}
            class:list={[
              "rounded-4xl transition-transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none",
              sizeClasses,
              link.classes,
            ]}
          />
        </a>
      </li>
    ))
  }
</ul>
